<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>

    <h1>Your Cart</h1>
    <div th:if="${#maps.isEmpty(cartContents)}">
        <p>Your cart is empty.</p>
    </div>
    <div th:if="${!#maps.isEmpty(cartContents)}">
        <ul>
            <li th:each="entry : ${cartContents}">
                Item ID: <span th:text="${entry.key}"></span>, Quantity: <span th:text="${entry.value}"></span>
            </li>
        </ul>
    </div>
    <button onclick="location.href='/dashboard'">Back to Dashboard</button>

</body>
</html>