<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<header>
	<h1>Login In</h1>
	</header>

	<div class="signin-container">
    <h2>Sign In</h2>
    <form id="signinForm">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required />
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />
      <button type="submit">Login</button>
    </form>
    </div>
    
</body>
</html>